body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.main__page {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1200px;
	background-color: #FFFFFF;
}

header {
	width: 100%;
	height: 5%;
	background-color: #4B4B4B;
	border-bottom: 1px solid #414141;
}

.header__text {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}

.welcome__images {
	margin-top: 20px;
}

.main__text {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #FFFFFF;
	margin-top: 0px;
}

h2 {
	text-transform: uppercase;
	color: #1B1B1B;
	margin-top: 90px;
	margin-bottom: 10px;
}

.main__gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}

.gallery__thumbnail {
	width: 25%;
	text-align: center;
	float: left;
	margin-top: 35px;
	margin-bottom: 100px;
}

.main__gallery .gallery__thumbnail h1 {
	color: #717070;
	margin-bottom: 5px;
}

.main__gallery .gallery__thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52BAD5;
}

.main__gallery .gallery__thumbnail p {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
	color: #A3A3A3;
}

.main__parallax {
	height: 60%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

#hex {
	background-image: url("images/doodles.png");
}

#hazmat {
	background-image: url("images/doodles3.png");
}

#kattyr {
	background-image: url("images/doodles2.png");
}

.parallax__title {
	color: #000;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}

.parallax__desc {
	color: #888;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#hazmat_title {
	text-align: left;
	padding-left: 100px;
	padding-top: 110px;
}


#hazmat_text {
	text-align: left;
	float: left;
	padding-left: 100px;
}

.footer__banner {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-top-width: 2px;
}